.divSpinner{
    text-align: center;
    margin-top: 20px;
}

.divPoster{
    text-align: center;
    justify-items: center;
    columns: 4;
    margin-top: 20px;
    position: relative;
}


.poster{
    transition: scale 350ms ease; opacity: 350ms linear;
}

.divPoster:has(.poster:hover) .poster:not(:hover){
    scale: .9;
    opacity: .7;
}

.divBotoes{
    background-color: black;
    height: 70px;
    text-align: center;
    position: relative;
    border-radius: 15px;
    margin-left: 30%;
    margin-right: 30%
}

.Button{
    margin-top: 20px;
}

.Link{
    text-decoration: none;
}