.forms{
    border-radius: 25px;
    position: relative;
    background-color: black;
    border-radius: 25px;
    color: white;
    padding: 30px;
    text-align: center;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: rgb(53, 50, 50);
    color: white;
}


.input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-left: -5px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
}
  
  /* Estilização quando o foco está no campo */
.input[type="text"]:focus {
    border-color: blue; /* Mudar a cor da borda quando o campo está em foco */
    outline: none; /* Remover a borda padrão do navegador */
}
  
  /* Estilização para campos de entrada de texto obrigatórios */
.input[type="text"]:required {
    border-color: red; /* Mudar a cor da borda para indicar um campo obrigatório */
}





























