.div{
    display: flex;
    width: 70%;
    height: 500px;
    aspect-ratio: 10px;
    object-fit: cover;
    color: white;
    transition: scale 350ms ease; opacity: 350ms linear;
    background-color: black;
    border-radius: 15px;
    position: relative;
    margin-left: 15%;
    margin-right: 9%;
    column-gap: 0;
    columns: 2;
}

.div img{
    width: 70%;
    border-radius: 15px;
    margin-top: -10%;
    object-fit: cover;
    margin-left: 1%;
}

.h1{
    color: white;
    font-size: 15px;
    text-decoration: overline underline rgb(184, 61, 61);
    margin-top: 50px;
}

.divInfo{
    margin-left: 30%;
    position: relative;
}

.div1{
    column-count: 2;
    border: 1px solid rgb(184, 61, 61); 
    border-radius: 15px;
    margin: 0;
    column-gap: 0;
    margin-right: 10%;
    margin-left: -70%;
    text-align: center;
    margin-top: 20px;
    
}

.div2{
    margin-left: 2%;
    margin-bottom: 15%;
}

.div3{
    margin-left: 2%;
    margin-top: -9%;
    margin-bottom: 10%;
}

.sinopse{
    border: 1px solid rgb(184, 61, 61); 
    border-radius: 15px;
    margin-right: 10%;
    margin-left: -70%;
    margin-top: 5%;
    text-align: center;
}


.imgPoster{
    margin-top: 6%;
    margin-left: 2%;
    object-fit: cover;
}

.imgPoster img{
    width: 300px;
    object-fit: cover;
}

.divInfo h1{
    font-size: 30px;
    text-align: start;
    margin-left: -60%;
    margin-right: 10%;
}