.search{
    text-align: center;
    background-color: black;
    padding: 100px;
    border-radius: 15px;
    color: white;
}  

.divSpinner{
    text-align: center;
    margin-top: 20px;
}

.divPoster{
    text-align: center;
    justify-items: center;
    columns: 4;
    margin-top: 20px;
    position: relative;
}

.poster{
    transition: scale 350ms ease; opacity: 350ms linear;
    text-align: center;
}

.divPoster:has(.poster:hover) .poster:not(:hover){
    scale: .9;
    opacity: .7;
}

.divBotoes1{
    background-color: black;
    height: 70px;
    width: 965px;
    text-align: center;
    border-radius: 15px;
}

.divBotoes2{
    margin: 0;
    background-color: black;
    height: 70px;
    width: 100%;
    text-align: center;
    border-radius: 15px;
}

.Button{
    margin-top: 20px;
}

.Link{
    text-decoration: none;
    text-align: center;
}

