.card{
    background-color: rgb(238, 232, 232);
    width: 350px;
    position: absolute;
    border-radius: 15px;
    text-align: center;
}

.card img{
    width: 250px;
    border-radius: 15px;
    margin-top: 10px;
}

.erro{
    background-color: rgb(238, 232, 232);
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}